[Unit]
Description=home backend node server
After=network.target

[Service]
ExecStart=/usr/bin/npm start --prefix /root/homebackend
User=root
StandardOutput=file:/root/homebackend/log.txt
StandardError=file:/root/homebackend/log.txt

[Install]
WantedBy=multi-user.target

